body{
	background: #BE8BD2; 
}
.caja{
	align-items: center;
	border: solid black; 
	box-shadow: 0 0 0.5em black;
	display: flex;
	height: 200px;
	justify-content: space-between;
	margin: 0 auto;
	width: 90%;
	background: violet;
}
.cajitas1{
	border: solid;
	width: 10%;	
	height: 100px;
	box-shadow: 0 0 0.5em black;
	justify-content: flex-start;
	margin: 5em;
	background: black;
}

.cajitas2{
	border: solid;
	width: 25%;	
	height: 100px;
	box-shadow: 0 0 0.5em black;
	margin: 4em;
	background: black;
}
.cajamedia{
	align-items: center;
	border: solid black; 
	box-shadow: 0 0 0.5em black;
	display: flex;
	height: 350px;
	justify-content: space-around;
	margin: 0 auto;
	width: 90%;
	background: violet;
}
.cajamedia div{
	border: solid;
	box-shadow: 0 0 0.5em black;
	width: 15%;	
	height: 190px;
	background: black;
	}
.cajafinal{
	align-items: center;
	border: solid black; 
	box-shadow: 0 0 0.5em black;
	display: flex;
	height: 250px;
	justify-content: flex-end;
	margin: 0 auto;
	width: 90%;
	background: violet;
}
.rectangulo{
	border: solid;
	width: 25%;	
	height: 130px;
	margin: 7em;
	box-shadow: 0 0 0.5em black;
	background: black;
}